
.poppins-bold{
    font-family: "Poppins, Bold";
}

.poppins-semibold{
    font-family: "Poppins, SemiBold";
}

.poppins-medium{
    font-family: "Poppins, Medium";
}

.poppins-regular{
    font-family: "Poppins, Regular";
}

.poppins-light{
    font-family: "Poppins, Light";
}


.bg-login-image {
    background: url("src/assets/images/auth.png") no-repeat;
    background-position: center;
    background-size: 25rem;
    background-color: rgba(243, 245, 249, 1);
}

.btn-login {
    color: #fff;
    background-color: #1E4893;
    border-color: #9A9DA5;
    font-family: "Poppins, Medium";
  }
  
  .btn-login:hover {
    color: #1E4893;
    background-color: #fff;
    border-color: #1E4893;
    font-family: "Poppins, Medium";
  }
  
  .btn-login:focus, .btn-login.focus {
    color: #fff;
    background-color: #1E4893;
    border-color: #1E4893;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  }

  form.user .btn-user {
    font-size: 0.8rem;
    border-radius: 6px;
    padding: 0.75rem 1rem;
    font-family: "Poppins, Medium";
}
  
  .btn-login.disabled, .btn-login:disabled {
    color: #9A9DA5;
    background-color: #3b5998;
    border-color: #9A9DA5;
    font-family: "Poppins, Medium";
  }
  
  .btn-login:not(:disabled):not(.disabled):active, .btn-login:not(:disabled):not(.disabled).active,
  .show > .btn-login.dropdown-toggle {
    color: #9A9DA5;
    background-color: #2d4373;
    border-color: #dfdfdf;
    font-family: "Poppins, Medium";
  }
  
  .btn-login:not(:disabled):not(.disabled):active:focus, .btn-login:not(:disabled):not(.disabled).active:focus,
  .show > .btn-login.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  }


  .p-welcome{
    font-size: inherit;
    font-family: "Poppins, Regular";
  }

  .f-password{
    color: #7E56DA;
  }