<div class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img class="mb-4 pb-3" src="assets/images/logo.png" alt="logo">
                                        <h1 class="text-black h2 mb-2 text-left poppins-semibold">Welcome Back</h1>
                                        <h4 class="p-welcome h4 mb-4 text-left">Welcome back! Please enter your details</h4>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <label class="text-black poppins-medium">Email</label>
                                            <input type="email" class="form-control form-control-user poppins-regular"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Your Email">
                                        </div>
                                        <div class="form-group">
                                            <label class="text-black poppins-medium">Password</label>
                                            <input type="password" class="form-control form-control-user poppins-regular"
                                                id="exampleInputPassword" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6 custom-control custom-checkbox small text-center">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label poppins-regular" for="customCheck">Remember for 30 days</label>
                                                </div>
                                                <div class="col-md-6 text-center">
                                                    <a class="small poppins-regular f-password" href="javascript:void(0);" routerLink="/forgotpassword">Forgot Password?</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <a href="javascript:void(0);" routerLink="/" class="btn btn-login btn-user btn-block">
                                            SIGNIN
                                        </a>
                                        
                                    </form>
                                    
                                </div>
                            </div>

                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>