<div class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img class="mb-4 pb-3" src="assets/images/logo.png" alt="logo">
                                        <h1 class="h4 text-black mb-2 text-left poppins-bold">Verify OTP</h1>
                                        <p class="mb-4 pb-2 text-left v-code">Verification code send to (+91 3434344330)</p>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <div class="inputfield">
                                                <input type="number" maxlength="1" class="input"/>
                                                <input type="number" maxlength="1" class="input"/>
                                                <input type="number" maxlength="1" class="input"/>
                                                <input type="number" maxlength="1" class="input"/>
                                              </div>
                                        </div>
                                        <a href="javascript:void(0);" routerLink="/verifyed" class="btn btn-login btn-user btn-block">
                                            VERIFY
                                        </a>
                                    </form>
                                    <div class="text-center">
                                        <h4 class="v-otp">You will recive OTP within 60 seconds</h4>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="#">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="javascript:void(0);" routerLink="/login">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>